@media screen and (max-width: 600px) {
    header{
        height: 20vh;
    }
    main{
        margin-right: 0;
        height: 50vh;
        width: 100%;
    }
    nav{
        margin-top: 10px;
        height: 20vh;
        width: 100%;
    }
    .flex{
        flex-direction: column;
    }
}